# indian ai production pandas part- 15 and 16
# Pandas loc and iloc  and GroupBy Function

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('D:\\python programs\\CSV File\\student_results2.csv')
df

   Student ID  Class  Study hrs  Social Media usage hrs  Percantege
0        1001     10          2                       3          50
1        1002     10          6                       2          80
2        1003     10          3                       2          60
3        1004     11          0                       1          45
4        1005     12          4                       2          75

In [3]:
df.loc[0]

Student ID                1001
Class                       10
Study hrs                    2
Social Media usage hrs       3
Percantege                  50
Name: 0, dtype: int64

In [4]:
df.loc[4]

Student ID                1005
Class                       12
Study hrs                    4
Social Media usage hrs       2
Percantege                  75
Name: 4, dtype: int64

In [5]:
df.loc[[0,1]]

   Student ID  Class  Study hrs  Social Media usage hrs  Percantege
0        1001     10          2                       3          50
1        1002     10          6                       2          80

In [6]:
df.loc[[2,4]]

   Student ID  Class  Study hrs  Social Media usage hrs  Percantege
2        1003     10          3                       2          60
4        1005     12          4                       2          75

In [9]:
df.loc[4,'Class']

12

In [10]:
df.loc[0:3,'Class']

0    10
1    10
2    10
3    11
Name: Class, dtype: int64

In [11]:
df.loc[0:2,'Percantege']

0    50
1    80
2    60
Name: Percantege, dtype: int64

In [16]:
df.loc[[False,False,True,False,False]]

   Student ID  Class  Study hrs  Social Media usage hrs  Percantege
2        1003     10          3                       2          60

In [18]:
df.loc[df['Class']<11]

   Student ID  Class  Study hrs  Social Media usage hrs  Percantege
0        1001     10          2                       3          50
1        1002     10          6                       2          80
2        1003     10          3                       2          60

In [23]:
df.loc[df['Class']<11,['Percantege']]

   Percantege
0          50
1          80
2          60

In [26]:
df.iloc[0]

Student ID                1001
Class                       10
Study hrs                    2
Social Media usage hrs       3
Percantege                  50
Name: 0, dtype: int64

In [27]:
df.iloc[[0]]

   Student ID  Class  Study hrs  Social Media usage hrs  Percantege
0        1001     10          2                       3          50

In [28]:
df.iloc[:,0]

0    1001
1    1002
2    1003
3    1004
4    1005
Name: Student ID, dtype: int64

In [29]:
df.loc[:,0]

KeyError: 0

In [30]:
df.iloc[[0,1]]

   Student ID  Class  Study hrs  Social Media usage hrs  Percantege
0        1001     10          2                       3          50
1        1002     10          6                       2          80

In [32]:
df.iloc[[True,False,True,False,False]]

   Student ID  Class  Study hrs  Social Media usage hrs  Percantege
0        1001     10          2                       3          50
2        1003     10          3                       2          60

In [33]:
import pandas as pd

In [34]:
df=pd.read_csv('D:\\python programs\\CSV File\\student_results3.csv')
df

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percantege
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
3        1004       C     11          0                       1          45
4        1005       C     12          4                       2          75

In [61]:
gr1=df.groupby(by='Section')
gr1

In [73]:
gr1.groups

{'A': [0, 2], 'B': [1], 'C': [3, 4]}

In [42]:
#type(gr1.groups)

In [74]:
df.groupby(['Section','Class']).groups

{('A', 10): [0, 2], ('B', 10): [1], ('C', 11): [3], ('C', 12): [4]}

In [75]:
for Section, df_1 in gr1:
    print(Section)
    print(df_1)

A
   Student ID Section  Class  Study hrs  Social Media usage hrs  Percantege
0        1001       A     10          2                       3          50
2        1003       A     10          3                       2          60
B
   Student ID Section  Class  Study hrs  Social Media usage hrs  Percantege
1        1002       B     10          6                       2          80
C
   Student ID Section  Class  Study hrs  Social Media usage hrs  Percantege
3        1004       C     11          0                       1          45
4        1005       C     12          4                       2          75

In [76]:
list(gr1)

[('A',
     Student ID Section  Class  Study hrs  Social Media usage hrs  Percantege
  0        1001       A     10          2                       3          50
  2        1003       A     10          3                       2          60),
 ('B',
     Student ID Section  Class  Study hrs  Social Media usage hrs  Percantege
  1        1002       B     10          6                       2          80),
 ('C',
     Student ID Section  Class  Study hrs  Social Media usage hrs  Percantege
  3        1004       C     11          0                       1          45
  4        1005       C     12          4                       2          75)]

In [77]:
dict(list(gr1))

{'A':    Student ID Section  Class  Study hrs  Social Media usage hrs  Percantege
 0        1001       A     10          2                       3          50
 2        1003       A     10          3                       2          60,
 'B':    Student ID Section  Class  Study hrs  Social Media usage hrs  Percantege
 1        1002       B     10          6                       2          80,
 'C':    Student ID Section  Class  Study hrs  Social Media usage hrs  Percantege
 3        1004       C     11          0                       1          45
 4        1005       C     12          4                       2          75}

In [79]:
gr2=df.groupby('Class').get_group(10)
gr2

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percantege
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60

In [81]:
gr3=df.groupby('Section').get_group('A')
gr3

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percantege
0        1001       A     10          2                       3          50
2        1003       A     10          3                       2          60

In [83]:
gr1.sum()

         Student ID  Class  Study hrs  Social Media usage hrs  Percantege
Section
A              2004     20          5                       5         110
B              1002     10          6                       2          80
C              2009     23          4                       3         120

In [84]:
gr1.mean()

         Student ID  Class  Study hrs  Social Media usage hrs  Percantege
Section
A            1002.0   10.0        2.5                     2.5        55.0
B            1002.0   10.0        6.0                     2.0        80.0
C            1004.5   11.5        2.0                     1.5        60.0

In [85]:
gr1.describe()

        Student ID                                                      \
             count    mean       std     min      25%     50%      75%
Section
A              2.0  1002.0  1.414214  1001.0  1001.50  1002.0  1002.50
B              1.0  1002.0       NaN  1002.0  1002.00  1002.0  1002.00
C              2.0  1004.5  0.707107  1004.0  1004.25  1004.5  1004.75

                Class        ... Social Media usage hrs      Percantege        \
            max count  mean  ...                    75%  max      count  mean
Section                      ...
A        1003.0   2.0  10.0  ...                   2.75  3.0        2.0  55.0
B        1002.0   1.0  10.0  ...                   2.00  2.0        1.0  80.0
C        1005.0   2.0  11.5  ...                   1.75  2.0        2.0  60.0


               std   min   25%   50%   75%   max
Section
A         7.071068  50.0  52.5  55.0  57.5  60.0
B              NaN  80.0  80.0  80.0  80.0  80.0
C        21.213203  45.0  52.5  60.0  67.5  75.0

[3 rows x 40 columns]

In [86]:
gr1.agg(['sum','max','mean'])

        Student ID               Class           Study hrs           \
               sum   max    mean   sum max  mean       sum max mean
Section
A             2004  1003  1002.0    20  10  10.0         5   3  2.5
B             1002  1002  1002.0    10  10  10.0         6   6  6.0
C             2009  1005  1004.5    23  12  11.5         4   4  2.0

        Social Media usage hrs          Percantege
                           sum max mean        sum max mean
Section
A                            5   3  2.5        110  60   55
B                            2   2  2.0         80  80   80
C                            3   2  1.5        120  75   60