# indian ai production pandas part-1 and 2

In [73]:
import pandas as pd
pd.__version__

'1.2.0'

In [51]:
list_s=[1,2,-3,6.2,"data values"]
print(list_s)

[1, 2, -3, 6.2, 'data values']

In [52]:
series1=pd.Series(list_s)
print(series1)

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

In [53]:
type(series1)

pandas.core.series.Series

In [54]:
series2=pd.Series([1,2,3,4])
print(series2)

0    1
1    2
2    3
3    4
dtype: int64

In [55]:
empty_s=pd.Series([])
print(empty_s)

Series([], dtype: float64)

<ipython-input-55-61bfa6afa16b>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s=pd.Series([])

In [56]:
series3=pd.Series([1,2,3,4],index=["a","b","c","d"])
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

In [57]:
series3=pd.Series([1,2,3,4],index=["a","b","c","d"],dtype=float)
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [58]:
series3=pd.Series([1,2,3,4],index=["a","b","c","d"],dtype=float,name="data values")
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

In [59]:
series_s=pd.Series(0.5)
print(series_s)

0    0.5
dtype: float64

In [60]:
series_s=pd.Series(0.5,index=[1,2,3])
print(series_s)

1    0.5
2    0.5
3    0.5
dtype: float64

In [61]:
dict_s=pd.Series({"a":1,"b":2})
print(dict_s)

a    1
b    2
dtype: int64

In [62]:
s4=pd.Series([1,2,3,4,5])
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [63]:
s4[0]

1

In [64]:
s4[3]

4

In [65]:
max(s4)

5

In [66]:
min(s4)

1

In [67]:
s4[s4>3]

3    4
4    5
dtype: int64

In [68]:
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [69]:
s5=pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [70]:
s4+s5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [71]:
s6=pd.Series([1,2,3])
print(s6)

0    1
1    2
2    3
dtype: int64

In [72]:
s5+s6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64